
@CHARSET "UTF-8";

	#indexBody{margin:0px; padding:0px; background-color:#dbecfd; }
	ul,li{padding:0px; margin:0px;}
	a:link {text-decoration: none; color:black;}
    a:hover {text-decoration: none;}
	a:visted {text-decoration: none;}
	
	/*헤더박스 - 검은색 bar를 포함한 윗부분*************************************************************************************/
	#headerbox{width:100%; height:400px;  padding:0px; margin:0px;  background-color:black;}
		#welcom{width:500px; color:white; position:absolute; top:100px; left:50%;  margin-left:-160px; font-size: 450%; font-weight:bold; text-shadow: 2px 2px  4px #000000; z-index:2;}		
		#slide{position:absolute; background-color:black; z-index:1; left:30px;}			
	
	/*로그인박스*************************************************************************************/
	#loginbox{width:370px; height:50px; position:absolute; left:70%; z-index:2;}
		#loginbox>ul{list-style-type:none; /*로그인박스 ul*/
				 	 height:50px;  
				 	 line-height:50px;
				 	 font-family:돋움; 
				 	 font-weight:bold; 
				 	 font-size:16px;
					 }
		#loginbox>ul>li{
						float:left; /*지역검색 ul의 아래의 li */
				 		cursor: pointer;
				 		text-align:center;
				 		list-style-type:none; 
				 		width:100px;
				 		height:48px; 
				 		line-height:50px;
				 		text-shadow: 2px 2px  4px #000000;
					   }
		#loginbox>ul li:first-child {width:150px;}					   
		#loginbox>ul>li>a:link 	  {color:white;} /*로그인 박스의 a태그*/					   
		#loginbox>ul>li>a:visited {color:white;}
		#loginbox>ul>li>a:hover   {color:red;}
		
		#loginbox>ul>li:nth-child(1) {cursor: default;} /*사이즈맞추기위한 박스의 마우스모양을 바꿈*/
	/*검색용박스*************************************************************************************/
	/*검은색 Bar*/
	#blackbar{width:100%;  
			  height:80px; 
			  background-color:black; 
			  opacity: 0.5; 
			  position:absolute; 
			  top:320px; 
			  z-index:2;
			  }
		/*지역검색을 위한 드롭박스와 검색버튼이 있는 박스*/
		#searchbox{width:900px; 
				   height:50px; 
				   padding:0px;
				   background-color:white;  
				   z-index:2;
				   position:absolute; 
			  	   top:335px;
			  	   left:50%;
			  	   margin-left:-450px;
				   }
		/*지역검색 ul */
		#searchbox>nav>ul{list-style-type:none;  
				 	       height:50px;  
				 	       line-height:50px;
				 	       font-family:돋움; 
				 	       font-size:16px;
					  	   }
		/*지역검색 ul의 아래의 li */
		.nav_li	{float:left; 
				 text-align:center;
				 list-style-type:none; 
				 width:180px;
				 height:50px; 
				 line-height:50px;
				 font-size:25px;
				 }
		
		/*로그인시 내지역보기*/
		#mylocal_af {color:#67a2d5;
					 font-weight:bold;}
		#mylocal{cursor: pointer;}
		#mylocalShow{display:none;
					 cursor: pointer;
					 width:175px;
					 background-color:white;
				 	 text-align:center; 
				 	 position:relative;
				 	 left:50%;
				 	 margin-left:-450px;}
		#mylocalShow ul>li{width:175px;
						   list-style-type:none;
						   height:48px;
						   line-height:50px;
						   border:1px solid gray;
						   float:none }	
		/*검색버튼*/ 
		#searchbtn{background: #67a2d5; 
					width:180px; 
					height:50px; 
					margin:0px;
					padding:0px;
					border:0px;
					cursor: pointer;
					color:white;
					line-height:50px; 
					font-family:돋움; font-weight:bold; font-size:16px;
					}
		/*검색버튼 hover*/ 			
		#searchbtn:hover{background-color:#b5d8fa; 
						width:180px; 
						color:black;}	
	
	/*본문박스- 검은색 bar를 제외한 아랫부분*************************************************************************************/
	#indexcenter {position:relative;
				  background-color:#93bce1;
				  height:300px;
				  width:800px;
				  top:50px;
				  left:50%;
				  margin-left:-400px;}	
	#indexcenter img{ padding-left:40px }		
	/*맨 하단부*************************************************************************************/
	#indexFooter{position:relative;
				 width:100%; 
				 height:100px; 
				 top:100px;
				 background-color:#93bce1; 
				 text-align: center;
				 font-size:11px}	
/**index.jsp용 CSS끝************************************************************************************/
