@CHARSET "UTF-8";

	body{padding:0px;margin:0px;background-color:#dbecfd; }
	#main{width:1000px; 
		  heigth:1300px;
		  margin-left:50%;
		  left:-500px;
		  position:relative;
		  top:0px;}
	
	#listbox{width:600px; 
			 height:550px; 
			 position:relative; 
			 left:50%; 
			 margin-left:-300px; 
			 top:0px;
			 border:1px solid gray;
			 background-color:#b6d1eb;
			 }
		#list{ list-style-type:none;}
		#list li:nth-child(2n+1) {width:100px; float:left; text-align:right; line-height:50px; padding-right:5px;}
		#list li:nth-child(2n) {line-height:50px;}
	
	#map {position:relative;
				top:0px;
				left:50%;
				margin-left:-300px;
				width:600px;
				height:300px}

	#map_popup {position:absolute;
				top:560px;
				left:220px;
				background-color:gray;
				width:205px;
				z-index:2;
				opacity:0.7;
				}
	
	#buttonbox{width:600px; 
			   height:80px; 
			   position:relative;
			   top:0px; 
			   left:50%; 
			   margin-left:-300px;
			   }
	#bottonbox_inside{width:260px;
					  height:40px; 
					  position:relative;
					  top:20px; 
					  left:50%;
					  margin-left:-130px }